@import "bootstrap-sprockets";
@import "bootstrap";

.btn-default {
  border-radius: 0px;
}

h1 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

.center {
  text-align: center;
}
